* {
	box-sizing: border-box;
}
body {
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body,
h1 {
	margin: 0;
}
h2 {
	text-transform: uppercase;
	font-size: 18px;
	margin: 10px 0;
}
header {
	background: #000;
	padding: 20px;
	color: #fff;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.items {
	display: flex;
	flex-wrap: wrap;
	width: 930px;
}
.item {
	width: 300px;
	padding: 10px;
	border: 2px solid transparent;
	height: 550px;
	position: relative;
}
.item:hover {
	border: 2px solid #000;
	border-radius: 2px;
}
img {
	width: 100%;
	background-color: #f5f5f5;
}
.description,
.price {
	margin: 10px 0;
}
.item button {
	width: 90%;
	background: #000;
	border: 0;
	color: #fff;
	padding: 15px 0;
	font-size: 17px;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	margin: 10px auto;
	left: 0;
	right: 0;
}
main {
	margin: auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 900px 300px;
}
.cart {
	border-left: 2px solid #000;
	padding: 10px;
}
.cart-item {
	display: grid;
	grid-template-columns: 245px 20px;
	padding: 5px 10px;
}
.cart-item:nth-of-type(odd) {
	background-color: #eaeaea;
}
.cart-item button {
	color: #000;
	font-weight: 700;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
.cart-item .price {
	margin-top: 5px;
	margin-bottom: 0;
}
.total {
	font-size: 20px;
	margin: 10px;
	font-weight: 700;
}
